.navigation-bar {
    background-color: #242424;
    height: 50px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 20px;
    flex-wrap: nowrap;
}

.button {
    height: 50px;
    color: white;
    width: 20%;
    font-size: 18pt;
    background-color: #404040;
    border-width: 0;
    border-radius: 20px;
}

.button:hover {
    background-color: #545454;
}