<div>
    <div class="game-top">
        <img class="image" [src]="'/images/' + this.game()?.gameID + '.jpg'" [alt]=this.game()?.title>

        <div class="game-information">
            <p class="title">{{ game()?.title }}</p>

            <div class="rating">
                <label>Rating: {{ game()?.rating }}/5</label>
            </div>

            <div class="price">
                <label>{{ game()?.price }}€</label>
            </div>

            <div class="description">
                <label>{{ game()?.description }}</label>
            </div>
        </div>
    </div>
</div>