.game-top {
    display: flex;
    gap: 50px;
    margin-top: 30px;
}

.image {
    width: 60%;
    border-radius: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.title {
    color: white;
    font-size: 28pt;
}

.description {
    color: white;
    font-size: 18pt;
    max-width: 350px;
    margin-top: 10px;
}

.rating {
    color: white;
    font-size: 14pt;
}

.price {
    color: white;
    font-size: 18pt;
    margin-top: 10px;
}

.game-information {
    padding-left: 20px;
    padding-right: 20px;
    background-color: #404040;
    border-radius: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.game-information:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}