<div>
    <div class="game-top">
        <img class="image" src="https://www.gtagaming.com/images/26940/1395735247_frankinwithgun.jpg" alt="">

        <div class="test">
            <p class="title">{{ game()?.title }}</p>

            <div class="description">
                <label>{{ game()?.description }}</label>
            </div>
            <div class="rating">
                <label>Rating: {{ game()?.rating }}/5</label>
            </div>

            <div class="price">
                <label>{{ game()?.price }}€</label>
            </div>
        </div>
    </div>
</div>